# 我的忽略

**/ThirdParty
**/thirdparty
**/x64
**/bin
**/build
**/.vs

# 幽灵逃生
GhostEscape/.vscode
GhostEscape/bin
GhostEscape/build
GhostEscape/ThirdParty

# SDL2与太空战机
SDL_Shooter/bin
SDL_Shooter/.vscode
SDL_Shooter/build
SDL_Shooter/out
SDL_Shooter/Makefile

# 村庄保卫战
TdGame/TdGame/resources
TdGame/Demo
TdGame/TdGame/config
TdGameBeta


# 拼好饭传奇
GroupMealsLegend/GroupMealsLegend/resources

# 扫雷图形版
mine_sweeper/mine_sweeper/res

# 生化危鸡
ChickenEvil/ChickenEvil/resources
ChickenEvil/Demo

# 哈基米大冒险
hakimi_adventure/client/resources
hakimi_adventure/client/config.cfg
hakimi_adventure/server/text.txt

# 空洞武士
hollow_katana/hollow_katana/resources

# 植物明星大乱斗
plant_star_battle/plant_star_battle/resources
# 临时忽略
plant_star_battle/plant_star_battle_online

# 提瓦特幸存者
Tivat_Survivor_Game/Tivat_Survivor_Game/resource


# Document
.vscode
#mysql

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
