# 我的忽略

# 空洞武士 hollow_katana
hollow_katana\hollow_katana\resources

# turb项目
indata
outdata
*.jpg
*.png
*.txt
*.xlsx
*.ini
turbExtra/turbExtra/configure
turbExtra/turbExtra/python/data
turbExtra/turbExtra/python/image
turbExtra/turbExtra/python/model

# 临时忽略
# test_torch测试项目代码
test_torch
# 临时使用DLL的项目
learn_DLL

# Document
.vscode
#mysql

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
